// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap

@import url(https://use.fontawesome.com/releases/v5.6.1/css/all.css);
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    background-color: #fff;
}
ul {
    list-style: none;
    padding-left: 0;
}
.main_content {
    display: flex;
    flex-direction: row;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;
    padding: 0 7%;
}
.multiselect__content {
    z-index: 9999;
    position: absolute;
    border: 1px solid black;
    background-color: white;
}
.multiselect__tags {
    border: 1px solid grey;
}
.content {
    margin-left: 17%;
    margin-top: 1%;
    display: block;
    padding: 0 20px 20px;
    min-height: 300px;
    background-color: #fff;
    text-align: center;
}
/******
======Buttons=====
****/
.button {
    display: inline-block;
    padding: 0 24px;
    height: 40px;
    line-height: 40px;
    font-family: "Montserrat", Tahoma, Arial, sans-serif;
    font-weight: 600;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    background: #909090;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 1rem;
}
.button:not(.button-outline) {
    -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}
.button-primary:not(.button-outline) {
    background-color: $primary;
}
.button-icon {
    padding-left: 40px;
    position: relative;
}
.button-icon:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 16px;
    margin-top: -8px;
    -webkit-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -o-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    -o-mask-position: center center;
    mask-position: center center;
}

/******
 -------Buttons with icons--------
*****/
.button-icon-add:before {
    -webkit-mask-image: url(../img/icons/add.png);
    -moz-mask-image: url(../img/icons/add.png);
    -ms-mask-image: url(../img/icons/add.png);
    -o-mask-image: url(../img/icons/add.png);
    mask-image: url(../img/icons/add.png);
}

.icon-location:before {
    content: "";
    background-color: #000;
    width: 20px;
    height: 20px;
    display: inline-block;
    -webkit-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -o-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    -o-mask-position: center center;
    mask-position: center center;
    -webkit-mask-image: url(../img/icons/location.png);
    -moz-mask-image: url(../img/icons/location.png);
    -ms-mask-image: url(../img/icons/location.png);
    -o-mask-image: url(../img/icons/location.png);
    mask-image: url(../img/icons/location.png);
}

//img  backgrounds
.cart-img {
    background-image: url(../img/icons/cart.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.router-link-exact-active {
    background-color: #345a82;
    color: white !important;
}
